In [1]:
import pandas as pd

In [4]:
data=pd.read_csv("Fraud.csv")

In [6]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [44]:


from sklearn.preprocessing import LabelEncoder
data["type"]=LabelEncoder().fit_transform(data["type"])
data["nameOrig"]=LabelEncoder().fit_transform(data["nameOrig"])
data["nameDest"]=LabelEncoder().fit_transform(data["nameDest"])

In [45]:
data.drop_duplicates(inplace=True)

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
y=data["isFlaggedFraud"]

In [48]:
X=data.drop(["isFlaggedFraud"],axis=1)

In [50]:
X_train, X_test, y_train, y_test = train_test_split(
 X, y, test_size=0.33, random_state=42)

In [54]:


from sklearn.ensemble import RandomForestClassifier

classi=RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)

In [55]:
classi.fit(X_train,y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [57]:

from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,classi.predict(X_test))

In [58]:
print(acc)

0.9999966661348358

In [59]:

from sklearn.neural_network import MLPClassifier

In [62]:
clf=MLPClassifier( alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1,max_iter=100).fit(X_train,y_train)

In [63]:
clf.score(X_test,y_test)

0.9999966661348358